body {
    display: block;
    padding: 5px 5px;
    font: 14px Verdana, Geneva, sans-serif;
}

.wrapper{
    max-width: 60em;
    margin: auto;
}

.head{
    border-style: outset;
    border-color: blue;
    border-radius: 11px;
    padding: 8px;
    max-width: 50em;
    margin: auto;
    text-align: center;
}


#logo{
    float: left;
    width: 60%;
}
.login{
    display: inline-block;
    width: 220px;
}
.login,#logo{
    background-color:#ffffff;
    margin: 0 auto;
    padding: 8px;
    border: solid 1px #E5E5E5;
    border-radius: 11px;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; /* Default property */
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; /* Mozilla */
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; /* Webkit */
}

.txt{
    background-color:#ffffff;
    padding: 8px;
    border: solid 1px #E5E5E5;
    border-radius: 11px;
    font: normal 12px Verdana, Tahoma, sans-serif;
    width: 100px;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; /* Default property */
     /* For Mozilla Firefox Browsers */
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    /* For Webkite browsers */
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}


.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom,
                from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 15px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}
